html {
   background-image: url('../img/about-me.png');
   position: fixed;
   background-color: #eaeaea;
}

.text img {
   position: fixed;
   height: 555px;
   top: 80px;
   left: 395px;
}

@media only screen and (max-width: 400px) {
   .logo {
      left: 175px;
   }
}
