html {
   background-image: url('../img/about-me.png');
   position: fixed;
   background-color: #eaeaea;
}

.text img {
   position: fixed;
   height: 555px;
   top: 80px;
   left: 395px;
}

.text p {
   position: fixed;
   font-family: 'Rajdhani Regular', sans-serif;
   font-size: 24px;
   line-height: 30px;
   width: 500px;
   top: 115px;
   left: 500px;
}

.phone-img img {
   display: none;
}

@media only screen and (max-width: 768px) {
   html {
      background-size: 350px 700px;
      background-repeat: no-repeat;
   }

   .text p {
      font-size: 16px;
      line-height: 30px;
      width: 340px;
      top: 130px;
      left: 375px;
   }

   .text img {
      left: 270px;
      z-index: 1;
   }
}

@media only screen and (max-width: 400px) {
   html {
      background-image: none;
   }

   .phone-img img {
      display: inline;
   }

   .logo {
      left: 175px;
   }
}
