html {
   background-image: none;
   background-color: #eaeaea;
}

/* .image img {
   position: absolute;
   top: 50px;
   right: 0;
} */

.name p {
   position: relative;
   font-family: 'Rajdhani light', sans-serif;
   color: #333542;
   top: -13px;
   left: 15px;
}

.email p {
   position: relative;
   font-family: 'Rajdhani light', sans-serif;
   color: #333542;
   top: -13px;
   left: 15px;
}

.subject p {
   position: relative;
   font-family: 'Rajdhani light', sans-serif;
   color: #333542;
   top: -13px;
   left: 15px;
}

@media only screen and (max-width: 400px) {
   .logo {
      left: 175px;
   }
}
