html {
   background-image: none;
   background-color: #eaeaea;
}

.large-image {
   width: 100%;
   position: relative;
   top: 100px;
   text-align: center;
}

.small-image {
   display: none;
   position: relative;
}

