html {
   background-image: none;
   background-color: #eaeaea;
}

.large-image {
   width: 100%;
   position: relative;
   top: 100px;
   text-align: center;
}

.small-image {
   display: none;
   position: relative;
}

.text {
   position: relative;
   font-family: 'Rajdhani SemiBold', sans-serif;
   color: #be1e2d;
   padding: 10px;
   top: 90px;
   width: 470px;
   left: 280px;
}

@media only screen and (max-width: 768px) {
   .large-image {
      width: 50%;
      left: 125px;
   }

