html {
   background-image: none;
}

.image-container img {
   width: 100%;
}

#container {
   width: 1000px;
}

.image-container {
   position: relative;
   top: 87px;
   left: 55px;
   margin-right: 10px;
   float: left;
   width: 22%;
   z-index: -1;
}

@media screen and (max-width: 768px) {
   #container {
      width: 700px;
   }

   .image-container {
      left: 90px;
      margin: auto;
      float: left;
      width: 40%;
      z-index: -1;
   }
}

@media only screen and (max-width: 400px) {
   .logo {
      left: 175px;
   }

   #container {
      width: 400px;
   }

   .image-container {
      top: 10px;
      left: 60px;
      margin: auto;
      float: left;
      width: 70%;
      z-index: -1;
   }
}
