html {
   background-image: none;
}

.image-container img {
   width: 100%;
}

#container {
   width: 1000px;
}

.image-container {
   position: relative;
   top: 87px;
   left: 55px;
@media only screen and (max-width: 400px) {
   .logo {
      left: 175px;
   }
}
