@import url('fonts.css');

html {
   background-image: url('../img/desktop-background-img.png');
   background-repeat: no-repeat;
   position: fixed;
   height: 715px;
   width: 100vw;
}

body {
   margin: 0;
   overflow-x: hidden;
   overflow-y: scroll;
}

.disktop-logo {
   position: absolute;
   top: 10px;
   left: 460px;
   z-index: 1;
}

.tablet-logo {
   display: none;
   position: absolute;
   top: 10px;
   left: 457px;
   z-index: 1;
}

.red-bar {
   background-color: #911a1e;
   position: absolute;
   width: 1024px;
   height: 87px;
   display: none;
}

.desktop-menue {
   display: flex;
   position: absolute;
   background-color: #911a1e;
   height: 87px;
   width: 1024px;
   justify-content: space-between;
}

.desktop-menue a {
   display: flex;
   justify-content: space-between;
   font-family: 'Rajdhani light', sans-serif;
   font-size: 16px;
   text-decoration: none;
   color: white;
   margin: 30px;
}

.desktop-menue a:hover {
   font-weight: 700;
   cursor: pointer;
}

.phone-menue {
   position: absolute;
   margin: auto;
   text-decoration: none;
   z-index: 2;
   display: none;
}

.phone-menue a {
   color: white;
   font-family: 'Rajdhani light', sans-serif;
   font-size: 19.26px;
   line-height: 87.5px;
   display: block;
   width: 150px;
   text-decoration: none;
}

.phone-menue a:hover {
   font-family: 'Rajdhani SemiBold', sans-serif;
   background-color: #f1f2f2;
   color: #911a1e;
}

.phone-menue ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.phone-menue ul > li {
   float: left;
   left: 10px;
   width: 150px;
   background-color: #911a1e;
}

.phone-menue ul > li:hover > ul {
   visibility: visible;
}

.phone-menue ul > li > ul {
   visibility: hidden;
   position: absolute;
}

.phone-menue ul > li > ul a {
   line-height: 48px;
   height: 48px;
}

.welcome {
   color: white;
   font-family: 'Rajdhani Regular', sans-serif;
   font-weight: 400;
   font-size: 76px;
   position: absolute;
   text-align: center;
   top: 170px;
   left: 356px;
}

@media only screen and (max-width: 768px) {
   .desktop-menue {
      display: flex;
      flex-direction: row;
   }

   .desktop-menue a {
      position: relative;
      display: flex;
      margin: 0 60px;
   }

   .disktop-logo {
      display: none;
   }

   .tablet-logo {
      display: inline;
      left: 305px;
   }

   .welcome {
      font-size: 57px;
      left: 235px;
   }
}

@media only screen and (max-width: 400px) {
   .phone-menue {
      top: 0;
      display: block;
      position: absolute;
   }

   .desktop-menue {
      display: none;
   }

   .phone-menue a {
      font-size: 15.26px;
      line-height: 87.5px;
      display: block;
      width: 70px;
      text-decoration: none;
   }

   .phone-menue ul > li {
      width: 70px;
   }

   .red-bar {
      top: 0;
      display: inline;
   }

   .disktop-logo {
      display: inline;
      position: relative;
      left: 115px;
      z-index: 10;
   }

   .tablet-logo {
      display: none;
      left: 265px;
   }

   .welcome {
      font-size: 47px;
      left: 70px;
   }
}
