@import url('fonts.css');

html {
   background-image: url('../img/home-image.png');
   background-position: -100px;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
}

body {
   width: 100%;
   height: 100%;
   margin: 0;
   overflow-x: hidden;
   overflow-y: scroll;
}

.logo img {
   position: fixed;
   top: 10px;
   float: left;
   left: 15px;
   width: 70px;
   height: 49px;
   z-index: 9000000;
}

.nav {
   position: fixed;
   text-align: right;
   height: 70px;
   line-height: 70px;
   z-index: 10000;
}

.menu {
   border-bottom: 1px solid white;
   width: 100%;
   position: fixed;
   right: 0;
   margin: 0;
   z-index: 10000;
   background-color: white;
}

.menu a {
   clear: left;
   text-decoration: none;
   color: #915339;
   margin: 0 30px;
   line-height: 70px;
   z-index: 100000000;
}

.main a {
   color: #915339;
   font-family: 'Rajdhani Regular', sans-serif;
   font-size: 50px;
   text-decoration: none;
   position: absolute;
   left: 880px;
   top: 370px;
}

.footer {
   position: absolute;
   height: 70px;
   width: 100%;
   top: 715px;
   background-color: white;
}

.footer p {
   text-align: center;
   color: #915339;
   margin-top: 25px;
}

label {
   position: fixed;
   margin: 0 40px 0 0;
   font-size: 26px;
   line-height: 70px;
   display: none;
   width: 26px;
   color: white;
   float: left;
   z-index: 10000;
}

#toggle {
   display: none;
}

@media only screen and (max-width: 500px) {
   label {
      left: 10px;
      display: block;
      cursor: pointer;
   }

   .menu {
      text-align: center;
      width: 100%;
      display: none;
   }

   .menu a {
      display: block;
      border-bottom: 1px solid #eaeaeb;
      margin: 0;
   }

   #toggle:checked + .menu {
      display: block;
   }
}
